@model MVC_MasterD.Models.Spot

<div class="row mb-2">
    <div class="col-10">
        @Html.DropDownListFor(x => x.SpotId, ViewBag.spots as SelectList, "----Select----", htmlAttributes: new { @class = "form-select form-select-sm" })
    </div>
    <div class="col-2">
        <a href="#" id="btnDelete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
    </div>
</div>
